@model OtoSanayi.Entities.Hizmet

@{
    ViewBag.Title = "Duzenle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Menu_Bilgi{

    <div class="col-lg-10">
        <h2>Hizmet Yönetimi</h2>
        <ol class="breadcrumb">
            <li class="active">
                <a href="#">Hizmet Listesi</a>
            </li>
            <li>
                <b> Hizmet Düzenle</b>
            </li>
        </ol>
    </div>
}

@using (Html.BeginForm("Duzenle", "Hizmet", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
   
    <div class="form-horizontal">
        <h4>Firma</h4>
        <hr />
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.HiddenFor(x=>x.ID)
        <div class="row" id="Resimliste">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                @if (Model.hizmetResimler != null || Model.hizmetResimler.Count() > 0){
                    foreach (var item in Model.hizmetResimler)
                    {
                        if (item != null) { 
                        <div class="col-md-2" style="margin-left:10px;">
                            <div class="row">
                                <div class="col-md-12" style="position:relative;top:15px;z-index:1;">
                                    <button type="button" onclick="rSil(@item.HizmetID,@item.ID)" data-resimID="@item.ID" data-urunID="@item.ID" class="btn btn-danger btn-xs ResimSil"><span class="glyphicon glyphicon-remove"></span></button>
                                </div>
                                <div class="col-md-12"><img src="~/img/Hizmet/@item.ResimYol" width="100" height="100" /></div>

                            </div>

                        </div>
                        }
                    }
                }

            </div>
        </div><br />
        <div class="form-group">
            <div class="col-md-2 "><label class="control-label pull-right">Kategori</label></div>
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.HizmetKategoriID, (SelectList)ViewBag.ID, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.HizmetKategoriID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HizmetBaslik, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HizmetBaslik, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HizmetBaslik, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.KisaHizmetIcerik, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KisaHizmetIcerik, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KisaHizmetIcerik, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HizmetIcerik, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.HizmetIcerik, 7, 70, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.HizmetIcerik, "", new { @class = "text-danger" })
            </div>
        </div>
        

        <div class="form-group">
            @Html.LabelFor(model => model.hizmetResimler, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-10">
                <input type="file" name="HizmetResimler" multiple class="form-control" />
                <div>*JPG veya PNG formatında Olmalı</div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Geri", "Index", null, new { @class = "btn btn-warning" })||
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-upload"></span>Güncelle</button>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    function rSil(hzmetID,rsmID) {
        $.ajax({
            method: "POST",
            url: "/Hizmet/ResimSil/" + rsmID,
        }).done(function (data) {

            if (data.rs != 0) {
                // yorumlar partial tekrar yüklenir..
                $("#Resimliste").load("/Hizmet/ResimListele/" + hzmetID);
            }
            else {
                alert("Resim Silinemedi.");
            }

        }).fail(function () {
            alert("Sunucu ile bağlantı kurulamadı.");
        });
    }

</script>

