@using OtoSanayi.WepApp.Models
@using OtoSanayi.Entities
@model AraViewModels
@{
    ViewBag.Title = "AramaSonucları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-transparent">
    <div class="section-title">
        <h1><span><a href="#">Arama Sonuçları</a></span></h1>
    </div>

</div>


<div class="tr-section theiaStickySidebar" style="padding:40px;">
@if (Model.firmalist.Count == 0 && Model.haberlist.Count == 0 && Model.ilanlist.Count == 0 && Model.duyurulist.Count == 0)
{
    <h3 class="center-block">Herhangi Bir Sonuç Bulunamamıştır!!</h3>
}

@if (Model.firmalist.Count > 0)
{
    <h3 class="center-block">Bulunan Firmalar</h3>
    <div class="ibox-content">

        <table class="footable table table-stripped" data-page-size="10" data-filter=#filter>
            <thead>
                <tr>
                    <th>Firma Adı</th>
                    @*<th>Hizmet Alanları</th>*@
                    <th>Blok - No</th>
                    <th>Telefon</th>

                </tr>
            </thead>
            <tbody id="firmalar">
                @foreach (var item in Model.firmalist)
                {
                    <tr class="gradeX">

                        <td>
                            @if (item.Aktif == true)
                            {
                                <b><a href="/Firma/DetayGetir/@AdGetir.LinkAd(item.FirmaAdi)/@item.ID" title="@item.KisaAciklama">@item.FirmaAdi</a></b>
                            }
                            else
                            {
                                <b> @item.FirmaAdi</b>
                            }
                        </td>

                        <td>@item.Adres</td>

                        <td>
                            @foreach (var itm in item.FirmaTel.Split(';'))
                            {
                                <a href="tel://@itm">@itm</a><br />
                                break;
                            }
                        </td>

                    </tr>
                }

            <tfoot>
                <tr>
                    <td colspan="12">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>

}

    @if (Model.haberlist.Count > 0)
    {
        <h3 class="center-block">Bulunan Haberler</h3>
        <div class="ibox-content">

            <table class="footable table table-stripped" data-page-size="10" data-filter=#filter>
                <thead>
                    <tr>
                        <th>Haber Adı</th>
                    </tr>
                </thead>
                <tbody id="firmalar">
                    @foreach (var item in Model.haberlist)
                    {
                        <tr class="gradeX">

                            <td>
                                <a href="/Haber/DetayGetir/@AdGetir.LinkAd(item.HaberBaslik)/@item.ID" class="list-content">


                                    <b class="ist-title">@item.HaberBaslik</b>

                                    <p>

                                        @AdGetir.UzunAd(item.KisaHaberIcerik)
                                    </p>

                                </a>
                            </td>


                        </tr>
                    }

                <tfoot>
                    <tr>
                        <td colspan="12">
                            <ul class="pagination pull-right"></ul>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </div>
    }

@if (Model.ilanlist.Count > 0)
{
    <h3 class="center-block">Bulunan İlanlar</h3>
    <div class="ibox-content">

        <table class="footable table table-stripped" data-page-size="10" data-filter=#filter>
            <thead>
                <tr>
                    <th>İlan Adı</th>
                </tr>
            </thead>
            <tbody id="firmalar">
                @foreach (var item in Model.ilanlist)
                {
                    <tr class="gradeX">

                        <td>
                            <a href="/Ilan/DetayGetir/@AdGetir.LinkAd(item.Baslik)/@item.ID" class="list-content">

                                <span class="list-date">@item.IlanTarih.ToShortDateString()</span>--

                                <span class="list-date">@item.kategori.KategoriAdi</span><br />
                                <b class="ist-title">@item.Baslik</b>

                                <p>

                                    @item.KisaAciklama
                                </p>
                            </a>
                        </td>


                    </tr>
                }

            <tfoot>
                <tr>
                    <td colspan="12">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
}

  @if (Model.duyurulist.Count > 0)
  {
    <h3 class="center-block">Bulunan Duyurular</h3>
    <div class="ibox-content">

        <table class="footable table table-stripped" data-page-size="10" data-filter=#filter>
            <thead>
                <tr>
                    <th>İlan Adı</th>
                </tr>
            </thead>
            <tbody id="firmalar">
                @foreach (var item in Model.duyurulist)
                {
                    <tr class="gradeX">

                        <td>
                            <a href="/Duyuru/DetayGetir/@AdGetir.LinkAd(item.DuyuruBaslik)/@item.ID" class="list-content">

                                <span class="list-date">@item.DuyuruTarih.ToShortDateString()</span><br />

                                <b class="ist-title">@item.DuyuruBaslik</b>

                                <p>

                                    @AdGetir.UzunAd(item.KisaDuyuruIcerik)
                                </p>

                            </a>
                        </td>


                    </tr>
                }

            <tfoot>
                <tr>
                    <td colspan="12">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>

  }
</div>