@model OtoSanayi.Entities.MevzuatKategori

@{
    ViewBag.Title = "KategoriDuzenle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Menu_Bilgi{

    <div class="col-lg-10">
        <h2>Mevzuat Yönetimi</h2>
        <ol class="breadcrumb">
            <li class="active">
                <a href="#">Mevzuat Kategori Listesi</a>
            </li>
            <li>
                <b> Mevzuat Kategori Düzenle</b>
            </li>
        </ol>
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Mevzuat Kategori</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(x => x.ID)
        <div class="form-group">
            @Html.LabelFor(model => model.KategoriAdi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KategoriAdi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KategoriAdi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Geri", "KategoriListele", null, new { @class = "btn btn-warning" })||
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-upload"></span>Güncelle</button>
            </div>
        </div>
    </div>
}
