@model OtoSanayi.Entities.Kurumsal
@{
	string title = "";
	title += Model.Kurumsalkategori.KategoriAdi + " | ";

	title += "teknikotosanayi.com";
	ViewBag.Title = Html.Raw(title);
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-transparent">
    <div class="section-title">
        <h1><span><a href="#">@Model.Kurumsalkategori.KategoriAdi</a></span></h1>
    </div>


</div>

<div class="tr-section theiaStickySidebar" style="padding:40px;">
    <h2 class="center-block"></h2>
    <div class="row">
        @if (Model.Kurumsalkategori.KategoriAdi == "BAŞKANIN MESAJI")
        {
            foreach (var item in Model.Resimler)
            {
                <div class="col-md-12 ">
                    <img class="img-responsive center-block img-thumbnail" src="~/img/Kurum/@item.ResimYol" />
                </div>

            }
        }
        else if (Model.Kurumsalkategori.KategoriAdi == "FOTOĞRAFLARLA T.O.S.S")
        {
            @Html.Partial("_PartiallightBoxGallery",Model.Resimler)
        }
        else if (Model.Kurumsalkategori.KategoriAdi == "ORGANİZASYON ŞEMASI")
        {
            @Html.Partial("_PartialOrganizasyon", Model)
        }

        else
        {
            foreach (var item in Model.Resimler)
            {
                <div class="col-md-12 ">
                    @Html.Partial("_PartialResimGalerisi", Model.Resimler)
                </div>

            }
        }
        @if (Model.Kurumsalkategori.KategoriAdi != "ORGANİZASYON ŞEMASI") { 
        <div class="col-md-12">

            <h4>@Model.Baslik</h4>
            @Html.Raw(Model.Icerik)
        </div>
        }



    </div>
</div>
