@using OtoSanayi.Entities
@using OtoSanayi.WepApp.Models
@model List<Firma>

@foreach (var item in Model)
            {
    <tr class="gradeX">

        <td>

            @if (item.Aktif == true)
            {
                <b><a href="/Firma/DetayGetir/@AdGetir.LinkAd(item.FirmaAdi)/@item.ID" title="@item.KisaAciklama">@item.FirmaAdi</a></b>
            }
            else
            {
                <b> @item.FirmaAdi</b>
            }
        </td>
        @*<td class="col-md-6">
            @*<a href="/Firma/DetayGetir/@AdGetir.LinkAd(item.Kategori.KategoriAdi)/@item.ID" title="@item.KisaAciklama"><img height="50" width="60" src="~/img/Firma/@item.Logo" /></a>*@

        @*<a href="#" title="@item.KisaAciklama"><img height="50" width="60" src="~/img/Firma/@item.Logo" /></a>*@

        @*  <div class="row">

                    @foreach (var itm in item.KategoriFirma)
                    {
                        @itm.FirmaKategori.KategoriAdi.ToLower();
                        @(" , ")
                    }
                </div>

            </td>*@


        <td>@item.Adres</td>

        <td>
            @foreach (var itm in item.FirmaTel.Split(';'))
            {
                <a href="tel://@itm">@itm</a><br />
                break;

            }
        </td>

    </tr>
}
