@using OtoSanayi.Entities
@model OtoSanayi.WepApp.Models.KategoriFirmaViewModel

@{
    ViewBag.Title = "Duzenle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Menu_Bilgi{

    <div class="col-lg-10">
        <h2>Firma Yönetimi</h2>
        <ol class="breadcrumb">
            <li class="active">
                <a href="#">Firma Listesi</a>
            </li>
            <li>
                <b> Firma Düzenle</b>
            </li>
        </ol>
    </div>
}

@using (Html.BeginForm("Duzenle", "Firma", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
   
    <div class="form-horizontal">
        <h4>Firma</h4>
        <hr />
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.HiddenFor(x=>x.Firma.ID)
        <div class="row" id="Resimliste">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                @if (Model!=null||Model.Firma.FirmaResimler!=null || Model.Firma.FirmaResimler.Count() > 0){
                    foreach (var item in Model.Firma.FirmaResimler){
                        if (item != null) {
                        <div class="col-md-2" style="margin-left:10px;">
                            <div class="row">
                                <div class="col-md-12" style="position:relative;top:15px;z-index:1;">
                                    <button type="button" onclick="rSil(@item.FirmaID,@item.ID)" data-resimID="@item.ID" data-urunID="@item.ID" class="btn btn-danger btn-xs ResimSil"><span class="glyphicon glyphicon-remove"></span></button>
                                </div>
                                <div class="col-md-12"><img src="~/img/Firma/@item.ResimYol" width="100" height="100" /></div>

                            </div>

                        </div>
                        }
                    }
                }

            </div>
        </div><br />

        <div class="form-group">
            <div class="col-md-2 "><label class="control-label pull-right">Kategoriler</label></div>
            <div class="col-md-10">
                @{int i = 0; }

                @foreach (FirmaKategori item in Model.FirmaKategoriler)
                {
                    <div class="inline">
                        @Html.HiddenFor(x => x.FirmaKategoriler[i].ID)
                        @Html.CheckBoxFor(x => x.FirmaKategoriler[i].Secili, new { @class = "form-check-input", })
                        @Html.DisplayFor(x => x.FirmaKategoriler[i].KategoriAdi, new { @class = "form-check-label" })
                        @("    ")

                    </div>
                    i++;
                }


            </div>
        </div>

        @*<div class="form-group">
            <div class="col-md-2 "><label class="control-label pull-right">Kategori</label></div>
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.Firma.FirmaKategoriID, (SelectList)ViewBag.ID, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Firma.FirmaKategoriID, "", new { @class = "text-danger" })
            </div>
        </div>*@
        <div class="form-group">
            @Html.LabelFor(model => model.Firma.FirmaAdi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Firma.FirmaAdi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Firma.FirmaAdi, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Firma.FirmaYetkili, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Firma.FirmaYetkili, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Firma.FirmaYetkili, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Firma.FirmaTel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Firma.FirmaTel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Firma.FirmaTel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Firma.Adres, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Firma.Adres, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Firma.Adres, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Firma.KisaAciklama, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Firma.KisaAciklama, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Firma.KisaAciklama, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Firma.Aciklama, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Firma.Aciklama, 7, 70, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Firma.Aciklama, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Firma.FirmaLink, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Firma.FirmaLink, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Firma.FirmaLink, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Firma.FirmaMail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Firma.FirmaMail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Firma.FirmaMail, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Firma.FirmaFace, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Firma.FirmaFace, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Firma.FirmaFace, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Firma.FirmaTwitter, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Firma.FirmaTwitter, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Firma.FirmaTwitter, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Firma.FirmaGoogle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Firma.FirmaGoogle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Firma.FirmaGoogle, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Firma.FirmaInstagram, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Firma.FirmaInstagram, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Firma.FirmaInstagram, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Firma.Logo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-10">
                <input type="file" name="FirmaLogo" class="form-control" />
                <div>*JPG veya PNG formatında Olmalı</div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Firma.Logo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-10">
                <input type="file" name="FirmaResimler" multiple class="form-control" />
                <div>*JPG veya PNG formatında Olmalı</div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Geri", "Index", null, new { @class = "btn btn-warning" })||
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-upload"></span>Güncelle</button>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    function rSil(frmID,rsmID) {
        $.ajax({
            method: "POST",
            url: "/Firma/ResimSil/" + rsmID,
        }).done(function (data) {

            if (data.rs != 0) {
                // yorumlar partial tekrar yüklenir..
                $("#Resimliste").load("/Firma/ResimListele/" + frmID);
            }
            else {
                alert("Resim Silinemedi.");
            }

        }).fail(function () {
            alert("Sunucu ile bağlantı kurulamadı.");
        });
    }

</script>